.animation-on {
  opacity: var(--theme-main-start-opacity);

  .swing-in-bottom-bck {
    opacity: var(--theme-main-start-opacity);
  }
}

.animate {
  &.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1.000) var(--theme-main-animation-delay) both;
    animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1.000) var(--theme-main-animation-delay) both
  }

  &.slide-up {
    -webkit-animation: slide-in-bottom .95s cubic-bezier(.25, .46, .45, .94) var(--theme-main-animation-delay) both;
    animation: slide-in-bottom .95s cubic-bezier(.25, .46, .45, .94) var(--theme-main-animation-delay) both
  }

  &.bounce-in {
    -webkit-animation: bounce-in-top 0.75s var(--theme-main-animation-delay) both;
    animation: bounce-in-top 0.75s var(--theme-main-animation-delay) both;
    opacity: var(--theme-main-end-opacity);
  }

  &.bounce-in-fwd {
    --theme-main-start-opacity:1;
    animation: bounce-in-fwd 1.1s var(--theme-main-animation-delay) both;
  }

  &.subtle-slide-in {
    animation: subtle-slide-in .95s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--theme-main-animation-delay) both
  }

  &.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) var(--theme-main-animation-delay) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) var(--theme-main-animation-delay) both;
  }

  &.tracking-in-expand {
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) var(--theme-main-animation-delay) both
  }

  div {
    .swing-in-bottom-bck {
      --theme-main-animation-delay: .16s;
      animation: swing-in-bottom-bck .8s cubic-bezier(.175, .885, .32, 1.275) var(--theme-main-animation-delay) both;
    }

    &:nth-child(1) {
      .swing-in-bottom-bck {
        --theme-main-animation-delay: .35s;
      }
    }

    &:nth-child(2) {
      .swing-in-bottom-bck {
        --theme-main-animation-delay: .65s;
      }
    }

    &:nth-child(3) {
      .swing-in-bottom-bck {
        --theme-main-animation-delay: .95s;
      }
    }

    &:nth-child(4) {
      .swing-in-bottom-bck {
        --theme-main-animation-delay: 2.4s;
      }
    }
  }
}
@keyframes slide-in-right-collapse {
  0% {
    transform: translateX(25px);
    opacity: 0;
    width: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    width: 300px;
  }
}
@keyframes slide-in-left-collapse  {
  0% {
    transform: translateX(-25px);
    opacity: 0;
    width: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    width: 300px;
  }
}
@keyframes slide-out-right-collapse  {
  0% {
    transform: translateX(0);
    opacity: 1;
    width: 300px;
  }
  100% {
    transform: translateX(-25px);
    opacity: 0;
    width: 0;
  }
}
@keyframes slide-out-left-collapse  {
  0% {
    transform: translateX(0);
    opacity: 1;
    width: 300px;
  }
  100% {
    transform: translateX(25px);
    opacity: 0;
    width: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }

  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }

  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }

  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }

  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0
  }

  100% {
    filter: blur(0);
    opacity: 1
  }
}

@keyframes bounce-out-bottom {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  5% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
  }

  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  25% {
    transform: translateY(38px);
    animation-timing-function: ease-in;
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  52% {
    transform: translateY(75px);
    animation-timing-function: ease-in;
  }

  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: translateY(800px);
    opacity: 0;
  }
}

@keyframes subtle-slide-in {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes swing-in-bottom-bck {
  0% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0
  }

  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.slide-out-top {
  animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both !important;
}

.slide-in-top {
  animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-out {
  animation: fade-out 0.17s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}

@keyframes rotate-90-cw-correct {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-8-ccw {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%
  }

  100% {
    transform: scale(1.05) translateY(-15px);
    transform-origin: top
  }
}

@keyframes slow-heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  8% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  13% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  21% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  81% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  95% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  81% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  95% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: var(--theme-main-start-opacity);
  }

  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: var(--theme-main-end-opacity);
  }
}

@keyframes fade-out {
  0% {
    opacity: var(--theme-main-end-opacity);
  }

  100% {
    opacity: var(--theme-main-start-opacity);
  }
}

@keyframes fadeTopOut {
  0% {
    opacity: var(--theme-main-end-opacity);
  }

  100% {
    top: 0px;
    opacity: var(--theme-main-start-opacity);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeTopOut {
  animation: fadeTopOut 0.17s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}

@keyframes fade-in {
  0% {
    opacity: var(--theme-main-start-opacity);
  }

  100% {
    opacity: var(--theme-main-end-opacity);
  }
}

@keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: var(--theme-main-end-opacity);
  }

  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: var(--theme-main-start-opacity);
  }
}

@keyframes shake-left {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@keyframes shake-right {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@keyframes shake-lr {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(-14px);
    animation-timing-function: ease-in;
    opacity: var(--theme-main-end-opacity);
  }

  24% {
    opacity: var(--theme-main-end-opacity);
  }

  40% {
    transform: translateX(-10px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateX(-7px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateX(-4.5px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateX(-2px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: var(--theme-main-end-opacity);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(14px);
    animation-timing-function: ease-in;
    opacity: var(--theme-main-end-opacity);
  }

  24% {
    opacity: var(--theme-main-end-opacity);
  }

  40% {
    transform: translateX(10px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateX(7px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateX(4.5px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateX(2px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: var(--theme-main-end-opacity);
  }
}

//it doesnt like it when you use the same animation as a entrance and a hover
@keyframes bounce-right-hover {
  0% {
    transform: translateX(14px);
    animation-timing-function: ease-in;
    opacity: var(--theme-main-end-opacity);
  }

  24% {
    opacity: var(--theme-main-end-opacity);
  }

  40% {
    transform: translateX(10px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateX(7px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateX(4.5px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateX(2px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: var(--theme-main-end-opacity);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: var(--theme-main-start-opacity);
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: var(--theme-main-end-opacity);
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1
  }
}

@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0;
    filter: blur(0);
    opacity: 1
  }

  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0
  }
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}