// Buttons
.wp-block-button {
    &.is-style-outline {
        .wp-block-button__link {
            @extend .btn;
            @extend .btn-outline-primary;
        }
    }

    &.btn-lg {
        .wp-block-button__link {
            @extend .btn-lg;
        }
    }

    &.btn-sm {
        .wp-block-button__link {
            @extend .btn-sm;
        }
    }

    &.has-primary--background-color {
        @extend .btn-primary;
    }

    &.has-secondary--background-color {
        @extend .btn-secondary;
    }

    &.has-info--background-color {
        @extend .btn-info;
    }

    &.has-error--background-color {
        @extend .btn-danger;
    }

    &.has-danger--background-color {
        @extend .btn-danger;
    }

    &.has-success--background-color {
        @extend .btn-success;
    }

    &.has-dark--background-color {
        @extend .btn-dark;
    }

    &.has-light--background-color {
        @extend .btn-light;
    }

    .wp-block-button__link {
        @extend .btn;
        @extend .btn-primary;
        text-decoration: none;
        &:hover, &:focus {
            .fa-solid {
                animation: bounce-right 0.8s var(--theme-main-nav-item-delay) both;
            }
        }
        &.has-primary--background-color {
            @extend .btn-primary;
        }

        &.has-secondary--background-color {
            @extend .btn-secondary;
        }

        &.has-info--background-color {
            @extend .btn-info;
        }

        &.has-error--background-color {
            @extend .btn-danger;
        }

        &.has-success--background-color {
            @extend .btn-success;
        }

        &.has-dark--background-color {
            @extend .btn-dark;
        }

        &.has-light--background-color {
            @extend .btn-light;
        }
    }
}

.btn-wide {
    width: 100%;
    display: block;

    @include media-breakpoint-up(lg) {
        width: 320px;
    }

}

.cta-link {
    width: 300px;

    @include media-breakpoint-up(dlg) {
        width: 350px;
    }

    @include media-breakpoint-up(xxl) {
        width: 400px;
    }

    .fa {
        padding-left: 0.2rem;
    }

    &:hover,
    &:focus {
        .fa, .fa-solid {
            animation: bounce-right 0.8s var(--theme-main-nav-item-delay) both;
        }
    }
}
.btn-floating {
    top: 15px;
    left: 15px;
    position: absolute;
    z-index: 10;
}