.card {
    //@include media-breakpoint-up(dlg) {
    height: 100%;
    // }

    .card-sub-title {
        opacity: .865;
        text-align: justify;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        font-size: 0.9rem;
    }

    .card-footer {
        background-color: transparent;
    }
}

.card-grid .card {
    height: 100%;
}

.card-type-icon {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .card-body {
        padding-top: 1.3rem;
    }
}


.horizontal-card {
    height: auto;
    padding-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }

    &.count-2 {
        border-bottom: 1px solid rgba(var(--bs-black-rgb), 0.25);

        @include media-breakpoint-up(lg) {
            border-bottom: none;
        }
    }

    .content-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-body {
            &>strong.theme-main-color {
                display: block;
                margin-top: var(--bs-card-title-spacer-y);
            }

            strong+.card-title {
                margin-top: var(--bs-card-title-spacer-y);
            }
        }
    }

    .has-background-image {
        height: 100%;
        background-size: cover;
        background-position: center center;

    }

    .media-side {
        overflow: clip;
    }

    &:hover,
    &:focus,
    &:active {
        a {
            transition: .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
            --bs-link-opacity: 0.65;
        }
    }
}

.card-overlay {
    min-height: 450px;
    overflow: clip;

    .card-img-overlay {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:hover,
        &:focus,
        &:active {
            .theme-overlay {
                //animation: kenburns-top 2s ease-out both;
            }
        }

        .theme-overlay {
            z-index: -1;
        }

        &.has-background-image {
            background-size: cover;
            background-position: center center;
        }
    }
}

.staff-card {
    position: relative;
    height: 450px;

    .btn-floating {
        padding-left: calc(var(--bs-btn-padding-x) + 15px);
        left: 0;
    }

    .card-img {
        position: absolute;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .card-overlay {
        height: 100%;
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        background-image: linear-gradient(180deg, #FFFFFF00 0%, #000000 100%);
        opacity: 0.5;
    }

    .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem;
    }
}

.card.bg-primary {
    --bs-card-bg: var(--bs-primary);

    a {
        --bs-link-color-rgb: var(--bs-dark-rgb);
    }
}