.footer {
    min-height: 60vh;
    z-index: 0;
    position: relative;
    --theme-main-footer-color: #{$light};
    --theme-main-footer-background-gradient-top: #($primary);
    --theme-main-footer-background-gradient-bottom: #($dark);
    --theme-main-footer-background-gradient: radial-gradient(at bottom right, var(--theme-main-footer-background-gradient-bottom) 10%, var(--theme-main-footer-background-gradient-top) 76%);

    &.has-background-gradient {
        background: var(--theme-main-footer-background-gradient);
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 48px;
    }

    span.wpcf7-not-valid-tip {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .footer-cta {
        .input-group {
            flex-wrap: initial;
        }

        .wpcf7-response-output {
            display: none !important;
        }

        input.wpcf7-form-control.form-control {
            height: 30px;
            padding-bottom: 20px;
        }

        .form-floating label {
            margin-top: -24px;
            margin-left: -3px !important;
            transition: margin 0.25s ease, opacity 0.25s ease;
        }

    }
 

    .nav {
        text-align: center;

        @include media-breakpoint-up(dlg) {
            text-align: left;
        }

        .nav-link {
            margin-bottom: 0.6rem;

            padding: 0rem 2rem .6rem;
            --theme-main-nav-link-color: var(--theme-main-footer-color);
            @include media-breakpoint-up(dlg) {
                padding: 0 2.6rem 1rem 0;
            }
        }

        .dropdown {

            .nav-link {
                
            --theme-main-nav-link-color: var(--theme-main-footer-color);
                border-bottom: 1px solid var(--theme-main-footer-color);
            }
        }

        .sub-menu {
            list-style: none;

            .dropdown-item {
                line-height: 32px;

                --theme-main-nav-link-color: var(--theme-main-footer-color);
                @include media-breakpoint-up(dlg) {
                    line-height: 28px;
                }
                @include media-breakpoint-down(dlg) {
                    font-size: 0.9326rem;
                }
            }
        }
    }
}