.footer {
    min-height: 60vh;
    z-index: 0;
    position: relative;
    background-color: var(--theme-main-footer-background-color);
    padding-top: var(--theme-main-gutter-x);
    padding-bottom: var(--theme-main-gutter-x);
    overflow: clip;
    &.has-background-gradient {
        background: var(--theme-main-footer-background-gradient);
    }

    span.wpcf7-not-valid-tip {
        display: none;
    }

    a {
        text-decoration: none;

        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
        }
    }

    .footer-cta {
        .input-group {
            flex-wrap: initial;
        }

        .wpcf7-response-output {
            display: none !important;
        }

        input.wpcf7-form-control.form-control {
            height: 30px;
            padding-bottom: 20px;
        }

        .form-floating label {
            margin-top: -24px;
            margin-left: -3px !important;
            transition: margin 0.25s ease, opacity 0.25s ease;
        }

    }


    .nav {
        text-align: center;

        @include media-breakpoint-up(dlg) {
            text-align: left;
        }

        .nav-link {
            margin-bottom: 0.6rem;

            padding: 0rem 2rem .6rem;
            --theme-main-nav-link-color: var(--theme-main-footer-color);

            @include media-breakpoint-up(dlg) {
                padding: 0 2.6rem 0rem 0;
            }
        }

        .dropdown {

            .nav-link {

                transition: 0.6s opacity ease;
                --theme-main-nav-link-color: var(--theme-main-footer-color);
                border-bottom: 1px solid var(--theme-main-footer-color);

                @include media-breakpoint-up(lg) {
                    border-bottom: 0;
                }
            }
        }

        .sub-menu {
            list-style: none;

            .dropdown-item {
                line-height: 32px;

                transition: 0.6s opacity ease;
                --theme-main-nav-link-color: var(--theme-main-footer-color);

                @include media-breakpoint-up(dlg) {
                    line-height: 28px;
                }

                @include media-breakpoint-down(dlg) {
                    font-size: 0.9326rem;
                }
            }
        }
    }
}