$hamburger-padding-x : 10px !default;
$hamburger-padding-y : 10px !default;
// Import Hamburgers
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

// Define variables
$navTransitionDuration: 0.6s;
$navDropdownTransitionDuration: 0.25s;

// Header Navbar Styles
header .navbar {
    background-color: var(--theme-main-nav-bg);
    transition: background-color $navTransitionDuration ease, color $navTransitionDuration ease, opacity $navTransitionDuration ease, top $navTransitionDuration ease;
    will-change: background-color, color, opacity, top;
    box-shadow: none;

    .navbar-brand {
        position: relative;

        svg {
            width: 90px;
            height: 50px;
        }

        .navbrand-placer {
            opacity: 0;
        }

        .navbrand-light,
        .navbrand-dark {
            position: absolute;
            left: 0;
        }
    }

    &.light-scheme,
    &[data-og-scheme="transparent-light"],
    &[data-og-scheme="light"] {
        @include navbrand-scheme(light);
    }

    &[data-og-scheme="transparent-light"],
    &[data-og-scheme="light"] {
        .navbar-brand {
            // @include navbrand-scheme(light);
        }
    }

    &.dark-scheme {
        @include navbrand-scheme(dark);
    }

    &[data-og-scheme="transparent-dark"],
    &[data-og-scheme="dark"] {
        .navbar-brand {
            //@include navbrand-scheme(dark);
        }
    }

    &.mobile-nav-open {
        --theme-main-nav-bg: var(--theme-main-nav-drawer-open-bg) !important;
        --theme-main-nav-link-color: var(--theme-main-nav-drawer-open-color) !important;
    }

    @include set-nav-item-delay(6);

    // Mobile view styles
    @include media-breakpoint-down(lg) {
        .navbar-toggler {
            padding-right: 5px;
            padding-bottom: 7px;
        }

        .nav-link,
        .widget-area {
            text-align: center;
            animation: slide-out-blurred-left 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
            --theme-main-end-opacity: 0;
        }

        .close-nav-dropdown {
            --theme-main-end-opacity: 0;
            opacity: var(--theme-main-end-opacity);
        }

        .navbar-collapse.collapse {
            height: 92vh;

            &.show {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                overflow-y: overlay;
                margin-right: calc(0% - var(--theme-main-gutter-x));
                padding-right: var(--theme-main-gutter-x);
                ;

                .menu-item.dropdown {
                    position: static;
                }

                .navbar-nav {
                    width: 100%;
                    padding-bottom: 100px;
                    position: relative;
                    padding-top: 14vh;
                    --bs-nav-link-font-size: 1.9rem;
                    --bs-nav-link-font-weight: 700;

                    .nav-link,
                    .dropdown-item,
                    .nav-header {
                        justify-content: center;
                    }
                }

                &:not(.subnav-open) {

                    a.nav-link,
                    .widget-area {
                        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) var(--theme-main-nav-item-delay) both;
                        --theme-main-end-opacity: 0.76;

                        .fa {
                            padding-left: 0.2rem;
                            animation: bounce-right 0.8s var(--theme-main-nav-item-delay) both;
                        }

                        &:hover,
                        &:focus {
                            --theme-main-end-opacity: 1;

                            &>.fa {
                                animation: bounce-right-hover 0.8s both !important;
                            }
                        }
                    }
                }
            }

            a.nav-link {
                animation: slide-out-blurred-left 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
            }

            &:not(.show) {
                .navbar-nav {
                    max-height: 0px;
                    transition: max-height 0.6s ease;
                }
            }

            .dropdown-menu {
                position: absolute;
                height: 86vh;
                top: 0;
                padding-top: 14vh;
                z-index: 1;
                animation: slide-out-blurred-left 0.4s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
                width: 100%;
                background-color: var(--theme-main-nav-drawer-open-bg, #ffffff);

                &:not(.show) {
                    --theme-main-nav-drawer-open-bg: transparent;
                }

                .close-nav-dropdown-li {
                    .close-nav-dropdown {
                        left: 0;
                        display: flex;
                        color: var(--theme-main-nav-link-color);
                        align-items: baseline;

                        &:hover,
                        &:focus {
                            --theme-main-end-opacity: 1;
                        }
                    }

                    span {
                        width: 28px;
                    }
                }

                .dropdown-item {
                    text-align: center;
                    line-height: 2.1;
                    font-size: 1.4rem;
                    --theme-main-end-opacity: 1;
                }

                .nav-header {
                    font-size: 1.9rem;
                    font-weight: 700;
                    line-height: 2.4;
                }

                &.show {
                    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                    max-height: 92vh;
                    .close-nav-dropdown {
                        animation: fade-in 0.3s both;
                        --theme-main-end-opacity: 1;

                        i.fa {
                            animation: bounce-left 0.8s 0.6s both;
                        }
                    }
                }
            }
        }
    }

    // Hamburger styles
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--theme-main-nav-link-color);
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        transition: top .075s .075s ease-in, transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s .075s linear;
    }

    .hamburger-inner {
        transition: top 75ms ease-in 75ms,transform 75ms cubic-bezier(.55,.055,.675,.19) 0s,-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19) 0s,background-color 0s linear 75ms;
    }

    .navbar-nav {
        --bs-nav-link-color: var(--theme-main-nav-link-color);
    }

    .dropdown-menu {
        background-color: var(--theme-main-nav-drawer-open-bg);
        max-height: 0px;
        transition: max-height $navDropdownTransitionDuration ease;
        top: var(--theme-main-dropdown-top);
        display: block;
        overflow: clip;
        --bs-dropdown-padding-y: 0;
        --bs-dropdown-link-hover-bg: transparent;

        &.show {
            max-height: 500px;
        }
    }
}

// Make Dropdown Menus Horizontal
.make_dropdown_menus_horizontal {
    .navbar-nav {
        position: relative;
    }

    .dropdown {
        position: static;
    }

    .dropdown-menu {
        display: block;

        .dropdown-item {
            font-weight: 600;
            color: var(--theme-main-nav-link-color);
        }

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
}

//loading styles 
body:not(.page-loaded) {
    .navbar-nav {

        .nav-link,
        .dropdown-item,
        .nav-header {
            @include media-breakpoint-up(lg) {
                animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) var(--theme-main-nav-item-delay) both;
            }
        }
    }
}

// Navbar Navigation Styles
.navbar-nav {
    --bs-nav-link-padding-y: 1.5rem;
    --bs-nav-link-font-weight: 800;
    --bs-nav-link-font-size: 20px;
    --bs-nav-link-color: var(--theme-main-nav-link-color);

    .dropdown-toggle::after {
        content: none;
    }

    .nav-item {
        --theme-main-end-opacity: .76;


        @include media-breakpoint-up(lg) {


            --bs-dropdown-item-padding-y: 0.7rem;

            .dropdown-header {
                padding: 0;

                .nav-header {
                    --theme-main-end-opacity: 1;
                    font-size: var(--bs-dropdown-font-size);
                    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
                }
            }
        }

        .nav-link,
        .dropdown-item,
        .nav-header {
            border: none;
            width: 100%;
            text-transform: uppercase;
            opacity: var(--theme-main-end-opacity);
            background-color: transparent;
            color: var(--theme-main-nav-link-color);
            display: flex;
            align-items: center;
            justify-content: center;

            .fa {
                display: block;
                padding-top: 4px;
                padding-left: 4px;
            }

            @include media-breakpoint-up(lg) {
                justify-content: left;
                //    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) var(--theme-main-nav-item-delay) both;
            }

            &.active,
            &.show,
            &:active {
                --theme-main-end-opacity: 1;
                background-color: transparent;
                color: var(--theme-main-nav-link-color);
            }

            &:hover,
            &:focus {
                color: var(--theme-main-nav-link-color);
                --theme-main-end-opacity: 1;

                .fa {
                    animation: shake-left 0.8s both;
                }
            }

            &:focus-visible {
                outline: 0;
                box-shadow: none;
            }
        }
    }

    &:hover {

        .nav-link,
        .dropdown-item {
            --theme-main-end-opacity: 0.55;

            &:hover,
            &:focus {
                --theme-main-end-opacity: 1;
            }
        }

        .nav-item {
            .sub-menu {
                --theme-main-end-opacity: 0.8;
                opacity: var(--theme-main-end-opacity);
            }

            &:hover {
                .nav-link:not(:hover) {
                    --theme-main-end-opacity: 0.82;
                }

                .sub-menu:hover {
                    .dropdown-item {
                        --theme-main-end-opacity: 0.55;

                        &:hover,
                        &:focus {
                            --theme-main-end-opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// Footer Navigation Styles
@include media-breakpoint-up(md) {
    .footer {
        .nav-link {
            padding-bottom: 32px;
        }
    }
}

// Social Nav Styles
.social-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 51px;

    @include media-breakpoint-down(md) {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 380px;
    }

    li {
        display: inline;

        a {
            padding: 15px 20px;
            display: inline-block;
            text-align: right;
            font-size: 22px;
            color: var(--theme-main-footer-color);

            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
        }
    }

    &:hover {
        a {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// Social Media Nav Styles
.social-media-nav {
    &.display-horizontal {
        .social-nav {
            list-style: none;
            padding: 0;
            margin-bottom: 51px;
            display: flex;
            max-width: 60%;
        }
    }

    &:not(.display-horizontal) {
        .social-nav {
            @include media-breakpoint-up(dlg) {

                display: flex;
                flex-direction: column;
                align-content: end;
                flex-wrap: wrap;

                li {
                    a {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

// Share Buttons Styles
.entry-meta ul.social-nav.share-buttons,
ul.social-nav.share-buttons {
    display: inline-flex;
    margin-top: 20px;

    &>li>a {
        background-color: var(--theme-main-footer-color);
        border: none;
        border-radius: 90px;
        height: 30px;
        display: flex;
        align-items: center;
        text-decoration: none !important;
        width: 30px;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        margin: 0 7.14px;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        transition: color 0.4s ease, opacity 0.4s ease;

        @include media-breakpoint-only(md) {
            margin: 7.14px 0;
        }

        &::before {
            content: none;
        }
    }

    &:hover {
        &>li>a {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}