@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

header .navbar {
    background-color: var(--theme-main-nav-bg);
    transition: background-color .6s ease, color .6s ease, opacity .6s ease, top .6s ease;
    will-change: background-color, color, opacity, top;

    box-shadow: none;

    &.mobile-nav-open {
        --theme-main-nav-bg: var(--theme-main-nav-drawer-open-bg) !important;
        --theme-main-nav-link-color: var(--theme-main-nav-drawer-open-color) !important;
    }

    @include media-breakpoint-down(md) {
        .navbar-collapse.collapse.show {
            /* height: 92vh; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
        }

        .menu-item-has-children.nav-item {
            padding-bottom: var(--bs-nav-link-padding-y);

            .nav-link.dropdown-toggle {
                padding-bottom: 0px;
            }
        }

        .navbar-nav {
            width: 100%;
            height: 92vh;
            padding-bottom: 100px;
        }

        .dropdown-menu {
            --theme-main-navDdropdown-bg: transparent;
        }

    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--theme-main-nav-link-color);

    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        transition: top .075s .075s ease-in, transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s .075s linear;
    }

    .navbar-nav {
        --bs-nav-link-color: var(--theme-main-nav-link-color);

    }


    .dropdown-menu {
        background-color: var(--theme-main-navDdropdown-bg);
        max-height: 0px;
        transition: max-height 0.25s ease;
        top: var(--theme-main-dropdown-top);
        display: block;
        overflow: clip;
        --bs-dropdown-padding-y: 0;
        --bs-dropdown-link-hover-bg: transparent;
        &.show {
            max-height: 500px;
        }
    }

}

.make_dropdown_menus_horizontal {
    .navbar-nav {
        position: relative;
    }

    .dropdown {
        position: static;
    }

    .dropdown-menu {
        display: block;
        .dropdown-item {
            font-weight: 600;
            color: var(--theme-main-nav-link-color);
        }
        @include media-breakpoint-up(lg) {
            display: flex;
        }

    }
}

.navbar-nav {
    --bs-nav-link-padding-y: 3rem;
    --bs-nav-link-font-weight: 800;
    --bs-nav-link-font-size: 20px;
    --bs-nav-link-color: var(--theme-main-nav-link-color);


    .nav-link, .dropdown-item {
        width: 100%;
        text-transform: uppercase;
        opacity: .76;

        &.active,
        &.show {
            color: var(--theme-main-nav-link-color);
            opacity: 1;
        }


        &:hover,
        &:focus {
            color: var(--theme-main-nav-link-color);
        }

        &:focus-visible {
            outline: 0;
            box-shadow: none;
        }
    }

    &:hover {
        .nav-link, .dropdown-item  {
            opacity: 0.6;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

// footer nav
.social-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 51px;

    @include media-breakpoint-down(sm) {
        display: flex;
        // justify-content: space-between;
        max-width: 60%;
    }

    li {
        display: inline;

        a {
            padding-bottom: 29px;
            display: inline-block;
            text-align: right;
            font-size: 22px;
            padding-right: 40px;

            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
        }

        @include media-breakpoint-up(dlg) {
            &:first-child a {
                padding-left: 0;
            }

            &:last-child a {
                padding-right: 0;
            }
        }
    }

    &:hover {
        a {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.social-media-nav {
    &.display-horizontal {
        .social-nav {
            list-style: none;
            padding: 0;
            margin-bottom: 51px;
            display: flex;
            // justify-content: space-between;
            max-width: 60%;
        }
    }

    &:not(.display-horizontal) {
        .social-nav {

            @include media-breakpoint-up(dlg) {
                li {
                    a {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .footer {
        .nav-link {
            padding-bottom: 32px;
        }
    }

}

@include media-breakpoint-up(lg) {
    .social-nav {
        li {
            display: list-item;

            a {
                display: block;
            }
        }
    }
}


// Share buttons
.entry-meta ul.social-nav.share-buttons {
    display: inline-flex;
    margin-top: 20px;

    &>li>a {
        margin: 0 7.14px;
    }
}

ul.social-nav.share-buttons {
    display: inline-flex;

    @include media-breakpoint-only(md) {
        display: inline-block;
    }

    &>li>a {
        background-color: var(--supply-fold-color);
        border: none;
        border-radius: 90px;
        height: 30px;
        display: flex;
        align-items: center;
        text-decoration: none !important;
        width: 30px;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        margin: 0 7.14px;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        transition: color .4s ease, opacity .4s ease;

        @include media-breakpoint-only(md) {
            margin: 7.14px 0;
        }

        &::before {
            content: none;
        }
    }

    &:hover {
        &>li>a {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}