// Display extensions
@include responsive-display-classes((xs: inherit, smm: inherit, sm: inherit, md: inherit, lg: inherit, dlg: inherit, xl: inherit, extra: inherit, xxl: inherit, 3xl: inherit, 4xl: inherit), display);
@include responsive-display-classes((xs: initial, smm: initial, sm: initial, md: initial, lg: initial, dlg: initial, xl: initial, extra: initial, xxl: initial, 3xl: initial, 4xl: initial), display);

// Colors
$theme-main-navDdropdown-bg-color: #{$body-bg};
$theme-main-nav-link-color: #{$body-color};

:root {
    --theme-main-container-max-width: calc(100% - (#{$offsetWidth} * 2));
    --theme-main-gutter: #{$offsetWidth} - #{$grid-gutter-width};
    --theme-main-dropdown-top: 105%;
    --theme-main-navDdropdown-bg: #{$theme-main-navDdropdown-bg-color};
    --theme-main-nav-link-color: #{$theme-main-nav-link-color};
    --theme-main-nav-dropdown-bg: var(--theme-main-navDdropdown-bg);
    --theme-main-nav-item-delay: 0.0s;
    --theme-main-start-opacity: 0;
    --theme-main-end-opacity: 1;
    --theme-main-footer-background-color: #{$dark};
    --theme-main-footer-color: #{$light};
    --theme-main-footer-background-gradient-top: #{$primary};
    --theme-main-footer-background-gradient-bottom: #{$dark};
    --bs-border-color-translucent: rgba(var(--bs-dark-rgb), 0.58) !important;
    --theme-main-translucent: rgba(var(--bs-primary-rgb), 0.58) !important;
    --theme-main-footer-background-gradient: radial-gradient(at bottom right, var(--theme-main-footer-background-gradient-bottom) 10%, var(--theme-main-footer-background-gradient-top) 76%);
    --bs-card-height: 100%;
    --theme-main-arrow-color: currentColor;

    @include media-breakpoint-up(md) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidthMD} * 2));
        --theme-main-gutter: #{$offsetWidthMD} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(lg) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidthLG} * 2));
        --theme-main-gutter: #{$offsetWidthLG} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(dlg) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidthDLG} * 2));
        --theme-main-gutter: #{$offsetWidthDLG} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(xl) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidthXL} * 2));
        --theme-main-gutter: #{$offsetWidthXL} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(xxl) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidthXXL} * 2));
        --theme-main-gutter: #{$offsetWidthXXL} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(2xl) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidth2XL} * 2));
        --theme-main-gutter: #{$offsetWidth2XL} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(3xl) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidth3XL} * 2));
        --theme-main-gutter: #{$offsetWidth3XL} - #{$grid-gutter-width};
    }

    @include media-breakpoint-up(4xl) {
        --theme-main-container-max-width: calc(100% - (#{$offsetWidth4xl} * 2));
        --theme-main-gutter: #{$offsetWidth4xl} - #{$grid-gutter-width};
    }

    --theme-main-gutter-x: calc(var(--theme-main-gutter) + (#{$grid-gutter-width} * 2));
}


.full-width {
    @include media-breakpoint-down(md) {
        &:not(.wp-block-group) {
            margin-left: calc(0px - var(--theme-main-gutter) - 4px);
            margin-right: calc(0px - var(--theme-main-gutter) - 4px);
        }
    }

    margin-left: calc(0px - var(--theme-main-gutter));
    margin-right: calc(0px - var(--theme-main-gutter));
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);

    &.wp-block-image img {
        width: 100%;
    }

}

@include media-breakpoint-up(sm) {
    .full-width-sm {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(xxl) {
    .full-width-xxl {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(dlg) {
    .full-width-dlg {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(3xl) {
    .full-width-3xl {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(md) {
    .full-width-md {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(lg) {
    .full-width-lg {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

@include media-breakpoint-up(4xl) {
    .full-width-4xl {
        margin-left: calc(0px - var(--theme-main-gutter));
        margin-right: calc(0px - var(--theme-main-gutter));

        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
    }
}

html .wp-admin .editor-styles-wrapper :where(.wp-block) {
    max-width: 90% !important;
}

.full-height {
    min-height: 100vh;
}

.wp-admin .editor-styles-wrapper {
    --theme-main-gutter-x: 30px !important;

    .acf-block-component.acf-block-body.acf-block-preview .splide {
        visibility: visible;
    }

    .full-width {
        @include media-breakpoint-down(md) {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        margin-left: auto !important;
        margin-right: auto !important;
    }

    .animation-on {
        opacity: 1;
    }

    .full-height {
        min-height: 450px;
    }

    .position-sticky {
        z-index: 1 !important;
    }

    .d-none,
    .d-md-none,
    .d-xl-none {
        display: inherit !important;
    }

    .hide-in-editor {
        display: none !important;
    }
}

@mixin container-max-width($max-width) {
    max-width: $max-width;
}

.container {
    max-width: var(--theme-main-container-max-width);
}

.wp-block-group__inner-container {
    max-width: var(--theme-main-container-max-width) !important;
}

.wp-block-group__inner-container {
    @extend .container;
}

@include media-breakpoint-up(lg) {
    .container-lg {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(md) {
    li.d-md-inherit {
        display: list-item !important;
    }

    .container-md {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(sm) {
    .container-sm {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(xl) {
    .container-xl {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(xxl) {
    .container-xxl {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(dlg) {
    .container-dlg {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(3xl) {
    .container-3xl {
        max-width: var(--theme-main-container-max-width);
    }
}

@include media-breakpoint-up(4xl) {
    .container-4xl {
        max-width: var(--theme-main-container-max-width);
    }
}


// Apply Gutter Spacing Mixin
.mt-gutter {
    @include margin-spacing(top, var(--theme-main-gutter-x));
}

.mb-gutter {
    @include margin-spacing(bottom, var(--theme-main-gutter-x));
}

.my-gutter {
    @include margin-spacing(top, var(--theme-main-gutter-x));
    @include margin-spacing(bottom, var(--theme-main-gutter-x));
}

@include media-breakpoint-up(md) {
    .my-md-gutter {
        @include margin-spacing(top, var(--theme-main-gutter-x));
        @include margin-spacing(bottom, var(--theme-main-gutter-x));
    }
}

.m-gutter {
    @include margin-spacing(left, var(--theme-main-gutter-x));
    @include margin-spacing(right, var(--theme-main-gutter-x));
    @include margin-spacing(top, var(--theme-main-gutter-x));
    @include margin-spacing(bottom, var(--theme-main-gutter-x));
}

.ms-gutter {
    @include margin-spacing(left, var(--theme-main-gutter-x));
}

.me-gutter {
    @include margin-spacing(right, var(--theme-main-gutter-x));
}

.mx-gutter {
    @include margin-spacing(left, var(--theme-main-gutter-x));
    @include margin-spacing(right, var(--theme-main-gutter-x));
}

.pt-gutter {
    @include padding-spacing(top, var(--theme-main-gutter-x));
}

.pb-gutter {
    @include padding-spacing(bottom, var(--theme-main-gutter-x));
}

.py-gutter {
    @include padding-spacing(top, var(--theme-main-gutter-x));
    @include padding-spacing(bottom, var(--theme-main-gutter-x));
}

@include media-breakpoint-up(md) {
    .py-md-gutter {
        @include padding-spacing(top, var(--theme-main-gutter-x));
        @include padding-spacing(bottom, var(--theme-main-gutter-x));
    }
}

.p-gutter {
    @include padding-spacing(top, var(--theme-main-gutter-x));
    @include padding-spacing(bottom, var(--theme-main-gutter-x));
    @include padding-spacing(left, var(--theme-main-gutter-x));
    @include padding-spacing(right, var(--theme-main-gutter-x));
}

.ps-gutter {
    @include padding-spacing(left, var(--theme-main-gutter-x));
}

.pe-gutter {
    @include padding-spacing(right, var(--theme-main-gutter-x));
}

.px-gutter {
    @include padding-spacing(left, var(--theme-main-gutter-x));
    @include padding-spacing(right, var(--theme-main-gutter-x));
}

.center-flex,
.wp-block-group .center-flex,
.wp-block-group .wp-block-group.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.tabs .nav-link,
.tabs .nav-tabs {
    --bs-nav-tabs-border-width: 1px;
}

.tabs .nav-link,
.tabs .nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-link-padding-x: 2rem;
    --bs-nav-tabs-link-active-bg: #{$primary};
    --bs-nav-tabs-link-active-color: #{$dark};
}