.half-screen {
    position: relative;
    overflow: clip;
}

.half-screen .half-screen-block-editor-content {
    position: relative;
    z-index: 2;
}

.half-screen .media-container.fullscreen_media {
    position: absolute;
    left: 0;
    right: 0;
    height: calc(100% - 2px);
    top: 1px;
    bottom: 0;
    width: calc(100% - 2px);
}

.half-screen .media-container.fullscreen_media .theme-main-image {
    height:100%;
}

.ratio> .ratio-fullw {
    object-fit: cover;
    height: min-content;
    width: min-content;
    min-width: 100%;
    min-height: 100%;
}
.ratio.ratio-fullw {
    position: static;
}
.header-container .ratio.ratio-fullw img, .header-container .ratio.ratio-fullw video {
    -o-object-fit: cover;
    object-fit: cover;
}